// Variables de colores
$color-primary: rgb(12, 108, 46);
$color-secondary: #004d40;
$color-tertiary: #f8f9fa;
$color-link-hover: #007bff;
$color-text: #000;
$color-white: #fff;
$color-light: #e0f7fa;
$color-footer: rgb(12, 180, 46);

// Variables de fuentes
$font-primary: "Raleway", sans-serif;
$font-secondary: "Open Sans", sans-serif;
